.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid rgb(93, 14, 14);
  background-image: url("billeder/væg.webp");

  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  gap: 20px;
  border-radius: 100px 20px;
}

.boks h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#billet {
  background-image: url(billeder/arkivbillet.webp);
  width: 40%;
}

.boks {
  border: 3px solid rgb(93, 14, 14);
  border-radius: 100px 20px;
  background-color: rgba(0, 0, 0, 0.498);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px 5px 5px 5px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid rgb(93, 14, 14);
    background-image: url("billeder/væg.webp");
    border-radius: 100px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(128, 128, 128, 0.15);
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 3;
  }

  p h2 {
    max-width: none;
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  color: rgb(93, 14, 14);
}

h2 {
  text-align: center;
  line-height: 2;
}

h3 {
  line-height: 2;
}

p {
  line-height: 2;
}

.order {
  order: -1;
}

img {
  margin: 5px 5px 5px 5px;
}
