/*.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  grid-row: 1/3;
} */

img {
  padding: 10px;
}

#billet {
  background-image: url(billeder/forestillingerbillet.webp);
}

.billetknap {
  background-color: #d7cbc1;
  color: black;
  border: solid;
  border-color: #b08969;
  padding: 0.3rem;
  border-radius: 8px;
  font-family: special elite;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  margin-top: 1rem;
}

p {
  line-height: 2;
  text-align: center;
}

.italic {
  font-family: Brygada1918;
  font-style: italic;
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 0 12rem;
  }

  p {
    margin: 7rem;
    text-align: left;
  }

  img {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
