* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#footer {
  background-image: url(billeder/footerbillede.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: auto;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
}

footer p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.8rem;
  margin-block: 1rem;
}
.kasse {
  background-color: rgba(0, 0, 0, 0.475);
}
.logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.logoimg {
  display: grid;
  grid-column: 3/5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --backcolor: #0c0807;
}

body {
  background-image: url(billeder/curtains.webp);
  background-color: var(--backcolor);
  background-repeat: no-repeat;
  background-position: center;
}

/***********farver og fonte**********/

p {
  color: white;
  margin: 10px;
  font-family: special elite;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0 3rem;
  font-family: Oranienbaum;
}

nav a {
  color: red;
}

a {
  text-decoration: none;
}

li {
  font-size: 1.3rem;
}

h1 {
  color: red;
  font-size: 2rem;
  text-align: center;
  font-family: Oranienbaum;
}

h2 {
  color: white;
  margin: 20px;
  font-family: Courier Prime;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: white;
  margin: 30px;
  font-family: Courier Prime;
}

a:hover {
  color: burlywood;
  transition: 0.2s;
}

main {
  max-width: 1200px;
  margin-top: 2.4rem;
}
@media (min-width: 800px) {
  body {
    background-size: 150rem;
  }
  h1 {
    font-size: 5rem;
  }
  nav ul {
    margin: 0 7rem;
    font-size: large;
  }
}
