* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.logoimg {
  display: grid;
  grid-column: 3/5;
  margin-top: -1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --backcolor: #0c0807;
}

body {
  background-image: url(billeder/curtains.webp);
  background-color: var(--backcolor);
  background-repeat: no-repeat;
  background-size: 45rem;
  background-position: 50% -20%;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0 3rem;
}

nav a {
  color: red;
}
a {
  text-decoration: none;
}
h1 {
  color: red;
  font-size: 2rem;
  text-align: center;
}

main {
  max-width: 1200px;
  margin-top: 2.4rem;
}
@media (min-width: 800px) {
  body {
    background-size: 150rem;
  }
  h1 {
    font-size: 5rem;
  }
  nav ul {
    margin: 0 7rem;
    font-size: large;
  }
}
