/**************Farver+fonte****************/

p {
  color: white;
  margin: 30px;
  font-family: special elite;
}

h1 {
  font-family: Oranienbaum;
}

h2 {
  color: white;
  margin: 20px;
  font-family: Courier Prime;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: white;
  margin: 30px;
  font-family: Courier Prime;
}

nav {
  font-family: Oranienbaum;
}

#billet {
  background-image: url(billeder/kalenderbillet.webp);
}

/************grid************/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  grid-row: 1/3;
}

.col {
  text-align: center;
}

/************img************/

body {
  background-position: 50% 10%;
}

@media (min-width: 800px) {
  section {
    margin: 15rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h2 {
    margin-top: 4rem;
  }
}
